# env
NODE_ENV=

PORT=5002
HOST=gour-main-service

# database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# auth
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
SIGNATURE_SECRET=

# static
STATIC_SERVER_PATH=http://localhost:5001/static

# amo
AMO_BASE_URL=https://gourfood11.amocrm.ru
AMO_CLIENT_ID=
AMO_CLIENT_SECRET=
#TODO change to actual in the end
AMO_REDIRECT_URI=https://gour-store.devshift.ru/api/integrations
#used once
AMO_AUTH_CODE=

# messages
PHONE_CODE_SECRET_KEY=
MESSAGES_SERVICE_PORT=
MESSAGES_SERVICE_HOST=

# payment
PAYMENT_SERVICE_PORT=5005
PAYMENT_SERVICE_HOST=gour-payment-service

# if use in dev server set "development". Production server set "production" and local server set "local"
NODE_ENV=local

# sentry
SENTRY_DSN=

# warehouse
WAREHOUSE_API_URL=
WAREHOUSE_LOGIN=
WAREHOUSE_PASSWORD=
WAREHOUSE_ORGANIZATION_ID=
